#banner-header{
    background-image: url("../img/pattern.png");
    background-size: contain;
    background-color: #4ea0ff;
    height: 100px;
}

#logo{
    width: 180px;
    height: 50px;
    padding-top: 40px;
}

#heading{
    position: relative;
    margin-top: -40px;
}

h1{
    font-size: 45px;
    text-align: left;
}

.subtitle{
    position: relative;
    color: gray;
    margin-top: -40px;
}

#author{
    color: #4ea0ff;
}

#date{
    position: relative;
    margin-top: -15px;
    font-size:10px ;
    color: gray;
}

#images{
    position: relative;
    margin-top:30px;
}

#image-description{
    font-weight: 200;
    font-size: smaller;
}

table{
    text-align: left;
}
th{
    width: 25%;
}
#longer-th{
    width: 50%;
}

#blue-tr{
    background-color: #4ea0ff;
    color: white;
}

.light-blue-tr{
    background-color: lightblue;
}

#monitor-image{
    width: 312px;
    height: 208px;
    background-image: url(../img/monitor.jpg);
}

.image-title{
    position: relative;
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;

}
#graph-image{
    width: 312px;
    height: 208px;
    background-image: url(../img/graph.jpg);
    margin-top: 15px;
}

